##
## .gitignore for my_rpg
##

my_rpg
.vscode
*.txt
*.log
*vgcore.*
*gdb*
*.out
*.gcno
*.gcda
*.slo
*.lo
*.o
*.a
*.obj
*.gch
*.old
*~
.trash
*valgrind.log.core.*
*.49.3

## useful note file
!focus_note.txt
